body {
  margin: 20px;
}

/* 글꼴 */
h1 {
  font-family: Georgia, 'Times New Roman', Times, serif;
}

/* 글자 크기 */
.wrapper {
  font-size: 20px;
}

/* 아래의 코드를 넣음으로써 폰트 사이즈가 20pxX1.5X1.5인 45px로 변경이 됨. */
.wrapper blockquote {
  font-size: 1.5em;
}

/* 부모가 가진 20px에 X1.5를 한 것(30px)이 1.5em임. */
/* em을 rem으로 바꾸면 루트인 html의 기본 글자크기인 16px에X1.5를 한 24px이 됨. */
/* vw: 화면 창 크기에 반응하여 폰트 크기가 변함. */
.like {
  font-size: 5vw;
}

/* 글꼴 스타일*/
h1 {
  font-style: italic;
}

/* 줄높이 */
/* line-height는 1.6이 가장 안정적임. */
.wrapper blockquote {
  font-size: 15px;
  line-height: 1.6;
}

.like {
  font-size: 30px;
}

/* 자간 조정하기 */
h1 {
  font-size: 16px;
  font-weight: 700;
  letter-spacing: -0.02em;
  line-height: 1.6;
}

/* 정렬 */
.bootcamp {
  height: 200px;
  border: 1px solid red;
  padding: 20px;
  background-color: var(--yellow);
  text-align: center;
  line-height: 160px; /* <-과거의 방식 */
  /* align-content: center; */ /* <-현재의 방식 */
}

/* 글자 그림자 */ /* 글자 그림자는 아래와 같이 여러 개 사용할 수 있음. */
.bootcamp {
  text-shadow:
    1px 1px 2px red,
    2px 2px 2px orange,
    3px 3px 2px yellow,
    4px 4px 2px green,
    5px 5px 2px blue,
    6px 6px 2px darkblue,
    7px 7px 2px purple;
}
