body {
  margin: 20px;
}

/* 플렉스 박스 */
.like {
  background: #ffc;
  box-shadow: 0 0 0 1px red;
  inline-size: 1000px;
  block-size: 100px;
  display: flex;
  /* flex-direction: row;
  flex-wrap: nowrap; */
  flex-flow: row nowrap;
  /* 메인 축 정렬*/
  justify-content: end;
  /* 교차 축 정렬*/
  align-items: center;

  > div {
    inline-size: 200px;
    background: aqua;
  }
}
