body {
  margin: 20px;
}

/* 아바타 컴포넌트 */
/* <figure> 요소*/
.avatar-img {
  /* 영역이 잘 선택되었는지 확인하는 방법 - 배경 또는 박스 그림자 */
  /* background-color: #ffc; */

  --size: 64px;

  width: var(--size);
  height: var(--size);
  position: relative;

  img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    /* border-radius는 속기법 (원래는 top-lef, top-right이런 식으로 다 주어야 함. */
  }

  /* span을 요소처럼 쓰는 것보다 class를 쓰는 게 안전할 수 있음. */
  /* span같은 인라인요소는 width height 무시 함. display: block 주어야 함. */
  span {
    display: block;
    width: 28.125%;
    height: 28.125%;
    border-radius: 50%;
    border: 2px solid #fff;
    position: absolute;
    right: 0;
    bottom: 0;
  }

  .on {
    background-color: #4cfe88;
  }

  .off {
    background-color: #dbdbdb;
  }
}

/* <button> 요소 */
.avatar-button {
  background-color: transparent;
  padding: 0;
  border: 0 none;
  position: relative;
  /* base와 bottom 사이의 갭 없애기 */
  vertical-align: top;

  --size: 64px;

  width: var(--size);
  height: var(--size);
  /* aspect-ratio: 1/1; */

  img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
  }

  /* &::after은 여기서는 .avatar-button 다음이란 뜻. */
  &::after {
    content: '';
    display: block;
    width: 28.125%;
    height: 28.125%;
    border-radius: 50%;
    border: 2px solid #fff;
    position: absolute;
    right: 0;
    bottom: 0;
    /* position: absolute;
      right: 0;
      bottom: 0; */
  }

  /*.avatar-button[aria-label='online']::after에서 .avatar-button을 &로 치환한 것. */
  &[aria-label='online']::after {
    background-color: #4cfe88;
  }

  &[aria-label='offline']::after {
    background-color: #dbdbdb;
  }
}

/* 아바타 레이아웃 */
.avatar-list {
  background-color: #ffc;
  display: flow-root;
  padding: 10px 30px;

  width: 400px;
  border: 2px solid red;

  li {
    /* float: left; */
    /* margin이 겹칠 때는 normal 상태일 때이고, float가 들어갔을 때는 겹치지 않음. */
    float: left;
    margin: 10px;
  }
}
